@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 30px;    
}

.card-play-button {
    display: flex;
    justify-content: center;
}

.play-button {
    width :75px;
    height : 75px;
}

.container {
    margin : 2vh;
    justify-content: center;
}


.listelement{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw;
    align-items: center;
}